/node_modules
/public/hot
/public/storage
/public/zip/
/public/images/
/public/images/media/
/storage
/vendor

/storage
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log